<div class="_contain-f">
    <div class="blur-object-bottom"></div>
    <div class="column">
        <h5 class="title">Community</h5>
        <ul class="footer-link-group">
            <li class="footer-link-item"><i class="ri-instagram-fill"></i><a href="//www.instagram.com/qtnessdlb/">Qtness</a></li>
            <li class="footer-link-item"><i class="ri-instagram-fill"></i><a href="//www.instagram.com/animepict9/">Animepict9</a></li>
            <li class="footer-link-item"><i class="ri-whatsapp-fill"></i><a href="//chat.whatsapp.com/KaTxvXjHP5c6tEfVRvfPYS">Animepict9 Community</a></li>
            <li class="footer-link-item"><i class="ri-discord-fill"></i><a id="wip" href="#">Animepict9 Community</a></li>
        </ul>
    </div>
    
    <div class="column">
        <h5 class="title">Resource</h5>
        <ul class="footer-link-group">
            <li class="footer-link-item"><i class="ri-file-list-3-fill"></i><a id="comm" href="/event/">Event</a></li>
            <li class="footer-link-item"><i class="ri-megaphone-fill"></i><a id="comm" href="#">Announcement</a></li>
            <li class="footer-link-item"><i class="ri-download-fill"></i><a href="/downloads/">Download Wallpaper</a></li>
            <li class="footer-link-item"><i class="ri-link"></i><a id="wip" href="#">Source Wallpaper</a></li>
        </ul>
    </div>
    
    <div class="column">
        <h5 class="title">About</h5>
        <ul class="footer-link-group">
            <li class="footer-link-item"><i class="ri-file-list-3-fill"></i><a id="wip" href="#">Rules</a></li>
            <li class="footer-link-item"><i class="ri-shake-hands-fill"></i><a id="wip" href="#">Partner</a></li>
        </ul>
    </div>
    
    <div class="column">
        <h5 class="title-2">Design Beyond Limits</h5>
        <p class="desc">Elevate your space with premium wallpapers and stunning graphics. Upgrade to Qtness Premium for an extraordinary design experience. Your style, redefined</p>
        <a href="#" class="btn btn-prime">nyahalo</a>
    </div>
</div>
<div class="_contain-c">
    <p class="credit">&copy; 2024 <a href="//www.instagram.com/qtnessdlb/">Qtness Design Community</a> - All Right Reserved</p>
    <div class="legal-group">
        <a href="#" class="credit">Docs</a>
        <a href="#" class="credit">License</a>
    </div>
</div>