@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;800;900&display=swap");

@import url("/assets/css/style.css");
@import url("/assets/css/tooltip.css");
@import url("/assets/css/nav.css");

:root {
    /* setting seluruh warna base background / surface */
    --surface-t: #181a2300;
    --surface1: #181a23;
    --surface2: #272a38;
    --surface3: #303342;
    --surface4: #62656d;

    --surface-1-grad: linear-gradient(to top, var(--surface1) 20%, var(--surface-t) 100%);

    /* setting seluruh warna background untuk component */
    --bg-white-dim: hsla(0, 0%, 100%, 0.1);
    --bg-black-dim: hsla(0, 0%, 0%, 0.3);
    --bg1: var(--surface2);

    /* setting seluruh warna teks */
    --text-white: #fafafa;
    --text-white-dim: #fafafab3;
    --text-dark: #222222;

    /* setting seluruh warna accent */
    --accent1: #2be7be;
    --accent1-hover: #22c7a3;
    --accent2: #ff3852;
    --accent3: #7289da;

    /* setting spacing dan utility */
    /* === shadow === */
    --shadow1: box-shadow: 0px 2px 5px 0px rgba(22, 22, 22, 0.25), 0px 10px 10px 0px rgba(22, 22, 22, 0.21), 0px 22px 13px 0px rgba(22, 22, 22, 0.13), 0px 39px 16px 0px rgba(22, 22, 22, 0.04), 0px 61px 17px 0px rgba(22, 22, 22, 0.00);;
    --shadow2: box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176);
    
    /* sizing */
    --icon-size-sm: 1.5em;
    --icon-size: 3em;

    --adapt-wrap: 40vw;
    --sm-wrap: 550px;
    --md-wrap: 800px;
    --lg-wrap: 1080px;

    /* padding & gap */
    --space-sm: 1em;
    --space-md: 2em;
    --space-lg: 3em;
    --space-xl: 6em;
    --space-xxl: 10rem;

    --gap1: 1rem;
    --gap2: 3rem;
    
    /* === radius === */
    --radius-xs: 0.5em;
    --radius-sm: 1em;
    --rounded: 10000px;

    /* debug */
    --debug1: 2px dashed yellow;
    --debug2: 2px dashed skyblue;
    
}


/* Scrollbar Firefox */
{scrollbar-width: thin;scrollbar-color: var(--accent1) var(--surface1);}
/* Scrollbar Chrome, Edge, and Safari */
::-webkit-scrollbar {width: 8px;}
*::-webkit-scrollbar-track {background: var(--surface2);}
*::-webkit-scrollbar-thumb {background-color: var(--surface3);border-radius: 0px;border: 0px none #ffffff00; transition: background-color 2s ease;}
*::-webkit-scrollbar-thumb:hover {background-color: var(--accent1)}

/* utility class */
kbd{padding: var(--space-sm);background-color: var(--surface2);width: max-content;}
.betanotif {position: fixed;top: 0;left: 50%;transform: translateX(-50%);display: flex;align-items: center;justify-content: center;gap: 8px;font-family: 'Nunito', sans-serif;font-size: .8em;font-weight: 600;padding: var(--space-sm) var(--space-sm);border-radius: 0 0 4px 4px;background-color: var(--surface2);color: var(--text-white);transition: all .3s ease-in-out;z-index: 101;&:hover {background-color: crimson;}& i {color: gold;}}
.overlay-page-bottom{position: absolute;bottom: 0;left: 0;right: 0;width: 100%;height: 8vw;background: var(--surface-1-grad);z-index: 11;}
.p-center{justify-content: center;text-align: center;}
.brl-left {border-left: 1px solid var(--bg-white-dim);}
.brl-right {border-right: 1px solid var(--bg-white-dim);}
.brl-top {border-top: 1px solid var(--bg-white-dim);}
.brl-down {border-bottom: 1px solid var(--bg-white-dim);}
span.animated1 {background: url("https://i.pinimg.com/originals/08/06/e5/0806e52ac6efa9fbf72cbb92fe6737cc.gif") repeat-y;-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;-webkit-animation: animated-1 80s linear infinite;-webkit-transform: translate3d(0,0,0);-webkit-backface-visibility: hidden;}
@-webkit-keyframes animated-1 {0% { background-position: 0% 50%; }100% { background-position: 100% 50%; }}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--surface1);
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    gap: var(--space-md);
    height: 100vh;
    max-width: 1080px;
    margin: auto;
    padding: var(--space-md);
}

main {
    height: 100%;
}

/* main-nanigation */
.main-nav {
    position: fixed;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    height: 80px;
    width: var(--adapt-wrap);
    background-color: var(--surface2);
    padding: var(--space-sm);
    color: var(--text-white);
    box-shadow: var(--shadow1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.nav-logo {
    width: var(--icon-size);
    height: var(--icon-size);
    aspect-ratio: 1 / 1;
    border-radius: var(--rounded);
    overflow: hidden;
    margin-left: var(--space-sm);
    cursor: pointer;

    &.nav-logo img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.main-nav-btn-group {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.main-nav-btn-group .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-sm);
}

ul li a {
    font-size: var(--icon-size-sm);
    color: var(--text-white);
    height: 100%;
    width: 100%;

    &:hover {
        color: var(--accent1);
        background-color: var(--bg-white-dim);
    }
}

/* banner */
.hero-banner {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 30vh;
    padding: var(--space-md);
    border-radius: var(--radius-sm);
    overflow: hidden;
    /* outline: 2px dashed yellow; */

}

.hero-banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-size: cover;
    object-fit: cover;
    z-index: 2;
}

.hero-banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black-dim);
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: grayscale(1);
    z-index: 3;

}

.hero-banner-content {
    position: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-sm);
    color: var(--text-white);
    z-index: 5;

    & .hero-banner-title {
        font-family: 'Nunito', sans-serif;
        font-size: 3em;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    & .hero-banner-desc {
        font-size: 1.1em;
        line-height: 150%;
        text-transform: capitalize;
        opacity: 75%;
    }
}

/* main container */
.container-page {
    position: relative;
    display: flex;
}

/* content + navigasi + design */
.page {
    /* margin: auto; */
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 95%;
    /* max-height: 60vh; */
    padding: var(--space-md);
    padding-bottom: var(--space-xxl);

    color: var(--text-white);
    transform: translateY(2rem);
    transition: all .5s cubic-bezier(.2, 0, 0, 1);
    opacity: 0;
    overflow: auto;
}

.page:not(:target) {
    opacity: 0;
    transform: translateY(2rem);
}

.page:target {
    opacity: 1;
    transform: translateY(0);
    transition: all .5s cubic-bezier(.2, 0, 0, 1) 0.5s;
    z-index: 10;
}

.page-1:target {
    transition-delay: 0s; /* Reset transition delay for the first section */
}

.page-ctn-wrap,
.page-ctn-full {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    margin: auto;
}
.page-ctn-wrap {max-width: var(--md-wrap);}
.page-ctn-full {max-width: var(--lg-wrap);}

.page-ctn-box {
    display: flex;
    flex-direction: column;
    padding: var(--space-md);
    background-color: var(--surface2);
    border-radius: var(--radius-sm);
    gap: var(--gap1);
}

.page-ctn-title {
    font-size: 2em;
    font-family: 'Nunito', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}

.page-ctn-desc {
    font-size: 1.2em;
    color: var(--text-white-dim);
}

.page-ctn-img {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.page-ctn-img-banner {
    position: relative;
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    border-radius: var(--radius-sm);
}

.page-ctn-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-sm) var(--space-md);
    max-width: max-content;
    background-color: var(--accent1);
    color: var(--text-dark);
    gap: 8px;
    transition: all .2s ease-in-out;

    &:hover {
        background-color: var(--accent1-hover);
    }
}


/* leaderboard section */
#leaderboardTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#leaderboardTable thead th {
    padding: var(--space-sm) var(--space-md);
    background-color: var(--accent1);
    color: var(--text-dark);
    text-align: center;
}

#leaderboardTable .tbl-bx-num,
#leaderboardTable .tbl-bx-txt {
    font-size: 1.2em;
}

#leaderboardTable .tbl-bx-num,
#leaderboardTable .tbl-bx-txt,
#leaderboardTable .tbl-bx-img {
    padding-block: var(--space-md);
    padding-inline: var(--space-sm);
}
.tbl-bx-txt.td-usr-name {
    font-weight: 600;
}

#leaderboardTable tbody tr {
    gap: 10px;
    transition: outline 1s ease-in-out;
    cursor: pointer;
    &:hover{
        outline: 1px solid var(--accent3);
        background-color: var(--surface4);
    }
}

#leaderboardTable tbody tr:nth-child(odd) {
    background-color: var(--surface2);
}

#leaderboardTable tbody tr:nth-child(even) {
    background-color: var(--surface3);
}


.user-image {
    --user-sizing: 50px;
    width: var(--user-sizing);
    height: var(--user-sizing);
    border-radius: var(--rounded);
    object-fit: cover;
    cursor: pointer;
    transition: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    &:hover {
        outline: 2px solid var(--accent1);
        outline-offset: 2px;
    }
}

.instagram-link {
    color: var(--text-white);
    text-decoration: none;
    &:hover {
        color: var(--accent1);
    }
}

/* Add your existing styles here */
.image-popup {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.popup-content {
    max-width: 80%;
    max-height: 80%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.popup-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Hover effect */
.image-popup:hover {
    opacity: 1;
}

@media screen and (max-width: 768px) {

    span.highlight {
        padding: 4px 12px;
        background-color: var(--surface3);
    }

    body{
        height: 100vh;
    }

    .container {
        flex-direction: column;
        padding: var(--space-sm);
        height: 95%;
    }

    main {
        height: 45%;
    }

    .main-nav {
        bottom: 0;
        transform: translateX(-50%) translateY(0);
        width: 100%;
    }

    .main-nav-btn-group .nav-link {
        padding: var(--space-sm) var(--space-sm);
        font-size: 1.2em;
    }

    .hero-banner {
        padding: var(--space-md) var(--space-sm);
        height: auto;
    }

    .hero-banner-img,
    .hero-banner-overlay {
        width: 100%;
        height: 100%;
    }

    .hero-banner-content {
        position: inherit;
        padding: var(--space-sm);
    
        & .hero-banner-title {
            font-family: 'Nunito', sans-serif;
            font-size: 1.5em;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    
        & .hero-banner-desc {
            font-size: .7em;
            line-height: 150%;
            text-transform: capitalize;
            opacity: 75%;
        }
    }

    .page {
        padding: var(--space-sm);
        padding-bottom: var(--space-xl);
        height: 100%;

        &#leaderboard {
            padding: 0;
        }
    }

    .page-ctn-title {
        font-size: 1.5em;
        font-weight: 700;
    }
    
    .page-ctn-desc {
        font-size: 1em;
        line-height: 180%;
        color: var(--text-white-dim);
    }

    #leaderboardTable {
        width: 100%;
    }

    #leaderboardTable thead {
        display: none;
    }

    #leaderboardTable tbody {
        display: block;
        margin-bottom: 10px;
        width: 100%;
    }

    #leaderboardTable tbody tr {
        display: flex;
        align-items: center;    
    }
    
    #leaderboardTable tbody td {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 100%;
    }

    .user-image {
        --user-sizing: 30px;
    }

    #leaderboardTable .tbl-bx-txt, 
    #leaderboardTable .tbl-bx-num,
    #leaderboardTable .tbl-bx-img {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-block: var(--space-md);
        padding-inline: var(--space-sm);
    }

    #leaderboardTable .tbl-bx-num,
    #leaderboardTable .tbl-bx-txt {
        font-size: .9em;
    }

    #leaderboardTable .tbl-bx-num,
    #leaderboardTable .tbl-bx-txt.td-usr-desc {
        display: none;
    }    
}