@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');

@import url("./fix.css");
@import url("./utility.css");
@import url("./tooltip.css");

:root {
    /* color */
    --surface1: #111113;
    --surface2: #212127;
    --surface3: #18181b;
    --surface4: #37373d;
    --surface-grid: #fafafa05;
    
    --accent1: #DE7F28;
        --accent1-hover: #ffa959;
    --accent2: #ff49ff;
        --accent2-hover: #ff1dff;
            
    --destroy1: #db0a50;
        --destroy1-hover: #f72269;

    --col-text-white: #fafafa;
        --col-text-white-dim: #dddddd;
        --col-text-white-05: hsla(0, 0%, 98%, 0.03);
        --col-text-white-10: hsla(0, 0%, 98%, 0.10);
        --col-text-white-20: #fafafa33;
        --col-text-white-50: #fafafa80;
    --col-text-black: #111113;
        --col-text-black-10: #11111333;
        --col-text-black-20: #11111333;
        --col-text-black-50: #11111380;

    --default-surface: var(--surface1);

    /* padding, margin & spacing */
    --space-xxxsm: 2px;
    --space-xxsm: 4px;
    --space-xsm: 8px;
    --space-msm: 12px;
    --space-sm: 16px;
    --space-md: 24px;
    --space-lg: 32px;
    --space-xlg: 40px;
    --space-xxlg: 64px;
    --space-xxxlg: 92px;
    --space-xxxxlg: 100px;

    /* radius */
    --rad-xxsm: 4px;
    --rad-xsm: 8px;
    --rad-sm: 12px;
    --rad-md: 24px;
    --rad-xl: 32px;
    --rad-xxl: 64px;
    --rad-round: 10000px;

    /* content sizing */
    --logo-default: 6rem;
    --max-width: 1440px;

    /* transition */
    --ease-1: all .1s ease;
    --ease-2: all .3s ease;
    --ease-3: all .5s ease;
    --ease-4: all .7s ease;
    --ease-5: all 1s ease;

    /* debug */
    --debug1: 2px dashed yellow;
    --debug2: 2px dashed skyblue;
    --debug3: 2px dashed purple;

}

/* scrollbar */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--accent1) var(--surface1);
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: var(--surface2);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--accent1);
    border-radius: 0px;
    border: 0px none #ffffff00;
    transition: background-color 2s ease;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent1-hover)
}

::selection {
    color: var(--col-text-black);
    background: var(--accent1);
}

/* link color default */
a {
    color: var(--accent1);
    &:hover {
        color: var(--accent1-hover);
    }
}

/* body */
html {
    position: relative;
    font-size: 95%;
    scroll-behavior: smooth !important;
}

body {
    position: relative;
    font-family: 'Lato', system-ui, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    background-color: var(--default-surface);
    width: 100%;
    min-height: 100vh;
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, var(--surface-grid) 1px, transparent 1px),
      linear-gradient(to bottom, var(--surface-grid) 1px, transparent 1px);
    scroll-behavior: smooth;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--space-sm) var(--space-xxlg);
    transition: background-color .3s ease-in-out;
    z-index: 1000;
}

header .toggle-menu {
    display: none;
}

.logo {
    width: 100%;
    max-width: var(--logo-default);
}

nav ul {
    display: flex;
    align-items: center;
    gap: var(--space-md);
}

ul li .nav-item-link {
    position: relative;
    font-size: var(--fs-p);
    font-weight: 400;
    color: var(--col-text-white);
    transition: var(--ease-1);
    
    &:hover {
        color: var(--accent1-hover);
    }
    
    &:hover::after {
        content: '';position: absolute;
        background-color: var(--accent1-hover);
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 2px;
        border-radius: var(--rad-round);
    }
}

/* === Start Section === */
main {
    overflow: hidden;
}

.section {
    position: relative;
    padding: var(--space-xxlg) 0;
}

.section-hero {
    /* min-height: 100vh; */
    margin-top: 8rem;
}

.content-box {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

/* section 2 */
.img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: var(--space-sm);
    background-color: transparent;
}

.img-ctn {
    border-radius: var(--rad-sm);
}

.img-caption {
    color: var(--col-text-white-50);
}

/* section 3 */
.slider-group {
    position: relative;
    width: 100%;
}

.slider {
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
}

.owl-carousel {
    width: 100%;
    margin: auto;
}

.owl-carousel .item {
    width: 100%;
    height: 20rem;
    margin: auto;
}

.owl-carousel .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trigger {
    --icn-size: 0.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: fit-content;
    max-height: fit-content;
    font-size: 1.2em;
    color: var(--col-text-white);
    background-color: var(--surface2);
    border: 5px solid var(--surface1);
    padding: var(--icn-size);
    transform: rotate(45deg);
    transition: var(--ease-1);
    cursor: pointer;
    z-index: 20;
    
    &:hover {
        background-color: var(--surface4);
    }

    &.next {
        /* border-radius: 0 0 0 var(--rad-md); */
        right: -1.6rem;
    }
    
    &.prev {
        /* border-radius: 0 var(--rad-md) 0 0; */
        left: -1.6rem;
    }
}

.trigger-item {
    position: relative;
    padding: var(--icn-size);
}

.trigger-item .ti {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: fit-content;
    max-height: fit-content;
    transform: rotate(-45deg);
}

/* card */
.card-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-sm);
    margin-block: var(--space-md);
}

.card-group .card {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    padding: var(--space-md);
    background-color: var(--surface2);
    border-radius: var(--rad-sm);
    transition: var(--ease-1);
    cursor: pointer;
    
    &:hover {
        outline: 3px solid var(--col-text-white-50);
        outline-offset: 5px;
    }

    &:nth-child(2){
        background-color: var(--surface3);
    }
}

.card-group .card .desc {
    color: var(--col-text-white-50);
}


/* ================== event page =================== */
.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    gap: var(--space-lg);
}

.tab-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-link  {
    --transition-area: all .5s ease-out;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: var(--space-msm) var(--space-md);
    color: var(--col-text-white-50);
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid var(--col-text-white-20);
        margin-inline: auto;
        transform: translateY(-100%);
        transition: var(--transition-area);
        opacity: 0;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: var(--col-text-white-20);
        margin: auto;
        transform: translateY(0%);
        transition: var(--transition-area);
    }

    &:hover::before {
        border-top: 10px solid var(--col-text-white-50);
    }
    &:hover::after {
        height: 2px;
        background-color: var(--col-text-white-50);
    }
}

.tab-link.active {
    position: relative;
    color: var(--col-text-white);
    &::before {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid var(--accent1);
        margin-inline: auto;
        transform: translateY(0);
        opacity: 1;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        margin: auto;
        background-color: var(--accent1);
        transform: translateY(0);
    }
    &:hover::before {
        border-top: 10px solid var(--accent1-hover);
    }
    &:hover::after {
        height: 2px;
        background-color: var(--accent1-hover);
    }
}

.tab-wrap {
    position: relative;
}

.tab-content {
    display: none;
    /* color: #d8d6d6; */
}

.tab-content.active {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--space-md);
    padding: var(--space-md);
    border-radius: 5px;
}

/* cdEvent */
time#cdEvent {
    /* --pos-timer-event-X: var(--space-md); */
    --pos-timer-event-X: var(--space-md);
    --pos-timer-event-Y: 2px ;
    position: absolute;
    top: var(--pos-timer-event-Y);
    right: var(--pos-timer-event-X);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    padding: var(--space-sm);
    gap: var(--space-md);
    border-radius: var(--rad-sm);
    color: var(--col-text-white);
    background-color: var(--surface2);
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    /* outline: var(--debug1); */
}

time#cdSpecial {
    --pos-timer-event-X: 16rem;
    --pos-timer-event-Y: 2px ;
    position: absolute;
    top: var(--pos-timer-event-Y);
    right: var(--pos-timer-event-X);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    padding: var(--space-sm);
    gap: var(--space-md);
    border-radius: var(--rad-sm);
    color: var(--col-text-white);
    background-color: hsla(300, 100%, 50%, 0.10);
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    /* outline: var(--debug1); */
}

time#cdEvent > .part,
time#cdSpecial > .part {
    display: flex;
    flex-direction: column;
    gap: var(--space-xsm);
}

time#cdEvent > .part >.text,
time#cdSpecial  > .part >.text {
    font-size: .8em;
    color: var(--col-text-white-50);
}

/* actual quest */
.page-ctn-quest-box,
.page-ctn-quest-box-prem,
.page-ctn-quest-box-special {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--space-md);
    background-color: var(--surface2);
    border-radius: var(--rad-sm);
    transition: var(--ease-1);
    cursor: pointer;
    
    &:hover {
        background-color: var(--surface3);
        transform: scale(1.01);
    }
    
}

.page-ctn-quest-box-special {
    outline: 1px solid var(--accent2);
    overflow: hidden;
}

.page-ctn-quest-box-prem {
    outline: 1px solid var(--accent1);
    overflow: hidden;
}



/* ================== download page =================== */
.download-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    gap: var(--space-sm);
}

.download-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: var(--col-text-white);
    background-color: var(--surface2);
    /* margin-inline: auto; */
    padding: var(--space-lg);
    opacity: .9;
    overflow: hidden;
    transition: var(--ease-1);
    width: 100%;
    /* max-width: 49%; */
    
    &:hover {
        opacity: 1;
    }
    
    &._layout-1 {
        flex-basis: 30%;
        flex-grow: 1;

        & > .download-box-wrap > .title {
            font-size: 2.2ch;
        }

        & > .download-box-wrap > .title-2 {
            font-size: 1.8ch;
            font-weight: 600;
        }
    }
    
    &._layout-2 {
        flex-basis: 49%; /* Adjust as needed */
        flex-grow: 1;
    }
    
    &._layout-3 {
        flex-basis: 100%;
        flex-grow: 1;
    }
}

.download-box-wrap {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.download-box #downloadicon {
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(-10%, -5%);
    font-size: 8rem;
    opacity: .1;
}

.download-box.premium-download{
    position: relative;
}

.premium-element {
    /* outline: 1px solid var(--accent1); */

    &::after {
        content: 'Bonus';
        position: absolute;
        top: var(--space-sm);
        right: var(--space-sm);
        padding: var(--space-xxsm) var(--space-xsm);
        border-radius: var(--rad-xxsm);
        font-size: .8em;
        font-weight: 600;
        color: var(--surface2);
        background-color: var(--accent1);
    }
}

.special-element {
    /* outline: 1px solid var(--accent1); */

    &::after {
        content: 'Special';
        position: absolute;
        top: var(--space-sm);
        right: var(--space-sm);
        padding: var(--space-xxsm) var(--space-xsm);
        border-radius: var(--rad-xxsm);
        font-size: .8em;
        font-weight: 600;
        color: var(--surface2);
        background-color: var(--accent2);
    }
}

.premium-download::before,
.premium-element::before,
.special-element::before {
    content: '';
    position: absolute;
    top: 0;
    left: -210%;
    width: 300%;
    height: 90%;
    /* background: #ffffff23; */
    background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.10));
    animation: shimmer 10s infinite linear;
    transition: transform 1s;
}

@keyframes shimmer {
    0% {
        transform: translateX(-200%);
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(45deg);
        transform: translateX(1000%);
    }
}

.premium-label {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: var(--accent1);
    color: var(--col-text-white);
    padding: 4px 8px;
    font-size: 12px;
}

.navigasi-mobile-control,
.toggle-filter-mobile {
    display: none;
}


.filters {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--space-md);
    padding: var(--space-md);
    color: var(--col-text-white);
    background-color: var(--surface3);
}

.filter-group {
    display: flex;
    /* flex-direction: column; */
    /* gap: var(--space-xsm); */
    align-items: center;
    justify-content: center;

    & i {
        padding: var(--space-sm);
        color: var(--col-text-white-50);
        background-color: var(--surface2);
        /* border-right: 1px solid var(--col-text-white-10); */
    }
}

input#search {
    padding: var(--space-sm);
    color: var(--col-text-white);
    background-color: var(--surface2);
    border: none;
    outline: none;
}

select {
    appearance: none;
    -webkit-appearance: none;

    position: relative;
    display: flex;
    flex: 1;
    padding: var(--space-sm);
    border: none;
    outline: none;
    box-shadow: none;
    color: var(--col-text-white);
    background-color: var(--surface2);
    background-image: none;
    cursor: pointer;

    &::-ms-expand {
        display: none;
    }

}

/* =========== Leaderboard page ============= */
.leaderboard-card-group {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    margin-inline: auto;
    width: 60%;
    /* outline: var(--debug1); */
}

.lb-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: stretch;
    gap: var(--space-sm);
    padding: var(--space-md);
    width: 100%;
    border-radius: var(--rad-sm);
    color: var(--col-text-white);
    background-color: var(--surface2);
    text-decoration: none;
    transition: var(--ease-1);

    &:hover {
        outline: 2px solid var(--col-text-white-20);
        background-color: var(--surface3);
    }

    &:hover::before {
        background-color: var(--accent1);
    }

    &::before {
        --deco-1: 1rem;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -.5rem;
        margin-block: auto;
        width: var(--deco-1);
        height: var(--deco-1);
        background-color: var(--surface2);
        outline: 5px solid var(--surface1);
        transform: rotateZ(45deg);
        transition: var(--ease-1);
    }
}

.lb-author,
.lb-point-group {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.lb-point-group {
    align-items: end;
    margin-left: auto;
}

.lb-point {
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-xxsm);
    /* top: var(--space-sm); */
    /* left: var(--space-sm); */
    padding: var(--space-xsm);
    width: fit-content;
    font-weight: 600;
    color: var(--surface2);
    background-color: var(--accent1);
    border-radius: var(--rad-sm);
}

.lb-user-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-xsm);
    width: 100%;
    font-size: 1em;
}

.lb-task-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-xxsm) var(--space-msm);
    background-color: var(--surface4);
    border-radius: var(--rad-xsm);
}

.lb-user-img {
    width: 100%;
    max-width: 4rem;
    border-radius: var(--rad-sm);
}

.lb-user-social-link {
    color: var(--accent1);
}



/* page license legality */
.license-box {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: var(--space-md);
    max-width: 1000px;
    color: var(--col-text-black);
    background-color: var(--col-text-white-10);
    border-radius: var(--rad-xsm);
    gap: var(--space-md);
}



/* ============ footer section ============== */
footer {
    position: relative;
    min-width: 100%;
    border-radius: var(--rad-xxl) 0 0 0;
    background-color: var(--surface3);
    color: var(--col-text-white-50);
    overflow: hidden;
    /* padding: 20px; */
}

footer .column {
    width: 100%;
    max-width: 20%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    /* outline: var(--debug3); */

    &:nth-last-child(1){
        display: flex;
        padding: var(--space-md);
        border-radius: var(--rad-sm);
        background-color: var(--surface2);
        box-shadow:
        1px 2px 2px #0a0a0a17,
        2px 4px 4px #0a0a0a17,
        4px 8px 8px #0a0a0a17,
        8px 16px 16px #0a0a0a17,
        16px 32px 32px #0a0a0a17;
    }
}

footer .title {
    color: var(--col-text-white-50);
}

footer .title-2 {
    /* text-align: center; */
    color: var(--col-text-white);
}

footer .desc {
    color: var(--col-text-white-50);
}

.footer-link-group {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

footer .footer-link-item {
    display: flex;
    align-items: center;
    gap: var(--space-xsm);
}

footer .footer-link-item a {
    display: flex;
    align-items: center;
    gap: var(--space-xxsm);
    width: 100%;
    color: var(--col-text-white);
    transition: var(--ease-1);
    /* outline: var(--debug2); */
    
    &:hover {
        color: var(--accent1-hover);
    }
}

.credit {
    color: var(--col-text-white-50);
}
.credit a {
    color: var(--col-text-white-50);
    &:hover {
        text-decoration: underline;
    }
}

.legal-group {
    display: flex;
    align-items: center;
    gap: var(--space-md);

    & a {
        &:hover {
            text-decoration: underline;
        }
    }
}

/* =========== Media Query ============== */
@media screen and (max-width: 768px) {
    html {
        font-size: 80%;
    }

    /* header */
    header {
        position: fixed;
        justify-content: space-between;
        align-items: end;
        gap: var(--space-md);
        top: auto;
        bottom: 0;
        height: auto;
        background-color: var(--surface2) !important;
        border-radius: var(--rad-md) var(--rad-md) 0 0;
        padding: var(--space-md) var(--space-lg);
    }

    /* mobile */
    .navigasi-mobile {
        position: fixed;
        bottom: 0;
        left: 0%;
        width: 100%;
        height: auto;
        background-color: var(--surface2);
        padding-top: var(--space-xxlg);
        padding-inline: var(--space-lg);
        border-radius: var(--rad-md) var(--rad-md) 0 0;
        transform: translateY(100%);
        transition: var(--ease-1);
    }

    .navigasi-mobile.active {
        left: 0%;
        height: fit-content;
        transform: translateY(0%);
        z-index: 1000;
    }

    .navigasi-mobile-control {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: fit-content;
    }
    
    .navigasi-mobile-control-group {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 5rem;
        height: auto;
    }

    .mobile-header-content {
        position: relative;
        height: fit-content;
        overflow-y: auto;
        padding-inline: var(--space-sm);
        padding-bottom: var(--space-xxlg);

        &::-webkit-scrollbar-thumb {
            background-color: var(--surface4);
        }
    }

    .navigasi-mobile ul {
        position: relative;
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: var(--space-sm);
    }
    
    .navigasi-mobile ul .nav-item {
        height: 100%;
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navigasi-mobile ul .nav-item .nav-item-link {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
        max-width: 100%;
        padding: var(--space-sm) 0;
        gap: var(--space-sm);
        color: var(--col-text-white-50);
        text-decoration: none;

        &:hover {
            color: var(--col-text-white);
        }
        
        &:hover::after {
            content: '';
            display: none;
        }
    }

    /* section */
    .section {
        position: relative;
        padding: var(--space-xlg) 0 var(--space-xxlg) 0;
    }

    .section-hero {
        margin-top: 1rem;
    }


    /* ========== event page =========== */
    .wrapper {
        min-width: 100%;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: var(--space-lg);
    }

    .tab-area {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 100%;
        overflow: visible;
    }
    
    .tab-content.active {
        gap: var(--space-sm);
        padding: var(--space-xxsm);
        border-radius: var(--rad-xxsm);
    }
    
    .tab-link  {
        width: 100%;
        padding: var(--space-sm) var(--space-xsm);
        overflow: visible;
    }

    time#cdEvent,
    time#cdSpecial {
        --pos-timer-event-X: 0;
        --pos-timer-event-Y: 0;
        position: relative;
        top: var(--pos-timer-event-Y);
        right: var(--pos-timer-event-X);
        max-width: 100%;
        padding: var(--space-sm);
        gap: var(--space-md);
    }

    .premium-element {    
        &::after {
            top: var(--space-xsm);
            right: var(--space-xsm);
        }
    }
    
    .special-element {
        &::after {
            top: var(--space-xsm);
            right: var(--space-xsm);
        }
    }

    .page-ctn-quest-box-prem,
    .page-ctn-quest-box-special {
        padding: var(--space-xlg) var(--space-md);
    }


    /* =========== Leaderboard Page =========== */
    .leaderboard-card-group {
        width: 100%;
    }

    .lb-card {
        flex-direction: column;
        align-items: start;
    }

    .lb-point-group {
        margin-left: 0;
        align-items: start;
    }

    .lb-point {
        position: absolute;
        right: var(--space-sm);
        top: var(--space-sm);
        border-radius: var(--rad-xxsm);
    }


    /* =========== download page ============= */
    .download-wrap {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        gap: var(--space-xsm);
    }

    .download-box {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        gap: var(--space-sm);
        width: 100%;
        padding: var(--space-sm);

        & > .download-box-wrap > .title {
            font-size: 1em;
        }

        & > .download-box-wrap > .title-2,
        & > .download-box-wrap > .desc {
            font-size: .9em;
        }

        & .premium-label {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 4px 8px;
            width: 100%;
            font-size: 10px;
        }
        
        &._layout-1 {
            flex-basis: 30%;
            flex-grow: 1;

            & > .download-box-wrap > .title,
            & > .download-box-wrap > .title-2 {
                overflow-y: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                /* flex: 1 0 0; */
            }
            
            & > .download-box-wrap > .title {-webkit-line-clamp: 2;}
            & > .download-box-wrap > .title-2 {-webkit-line-clamp: 1;}

            & > .download-box-wrap > .desc,
            & > .page-ctn-size-download {
                display: none;
            }
        }
        
        &._layout-2 {
            flex-basis: 40%;
            flex-grow: 1;

            & > .download-box-wrap > .title {
                overflow-y: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                /* flex: 1 0 0; */
            }

            & > .download-box-wrap > .desc {
                display: none;
            }
        }
        
        &._layout-3 {
            flex-basis: 100%;
            flex-grow: 1;
        }
    }

    .navigasi-mobile-control {
        display: block;
    }

    .toggle-filter-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--space-sm);
        max-width: fit-content;
    }

    .filters {
        position: relative;
        flex-direction: column;
        padding-top: var(--space-xxxlg);
    }

    .filter-group {
        display: flex;
        /* flex-direction: column; */
        /* gap: var(--space-xsm); */
        align-items: center;
        justify-content: center;
        width: 100%;
    
        & i {
            padding: var(--space-sm);
            color: var(--col-text-white-50);
            background-color: var(--surface2);
            /* border-right: 1px solid var(--col-text-white-10); */
        }
    }

    .filters-mobile {
        position: fixed;
        bottom: 0;
        left: 0%;
        width: 100%;
        height: auto;
        transform: translateY(100%);
        transition: var(--ease-1);
    }

    .filters-mobile.active {
        left: 0%;
        height: fit-content;
        transform: translateY(0%);
        z-index: 1000;
    }
    
    input#search {
        width: 100%;
        padding: var(--space-sm);
        color: var(--col-text-white);
        background-color: var(--surface2);
        border: none;
        outline: none;
    }


    /* column */
    footer {
        padding-top: var(--space-lg);
        border-radius: 0 0 0 0;
    }

    footer .column {
        width: 100%;
        max-width: 100%;
        /* Adjust the maximum width as needed */
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        gap: var(--space-md);
        /* outline: var(--debug3); */
    
        &:nth-last-child(1){
            display: flex;
            padding: var(--space-md);
            border-radius: var(--rad-sm);
        }
    }
}

@media screen and (max-width: 450px) {
    /* card */
    .card-group {
        display: flex;
        flex-direction: column;
    }
}